# Ignore all build folders in the monorepo
**/build/
**/.dart_tool/
**/.pub-cache/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Block large binary files
*.apk
*.aab
*.ipa
*.zip
*.log
*.tar.gz

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
